<form method="post" action="{{ path('backend_thematique_delete', {'id': thematique.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette thematique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thematique.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
