<h4 class="content-title">
    Gestion des {{ rubrique|default('backend') }}s
</h4>
<p>
    L'interface de <strong>Gestion des {{ rubrique|default('backend') }}s</strong> permet d'ajouter, de modifier et de supprimer les {{ rubrique|default('backend') }}s.
</p>