<form method="post" action="{{ path('backend_presentation_delete', {'id': presentation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette presentation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presentation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
